@model Mvc4AppFuncional.Models.Categorias

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Categorias</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdCategoria)
            @Html.HiddenFor(model => model.IdCategoria)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.IdCategoria)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NombreCategoria)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NombreCategoria)
            @Html.ValidationMessageFor(model => model.NombreCategoria)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
}
