@model Mvc4AppFuncional.Models.Bodegas

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Bodegas</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Categorias.NombreCategoria)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Categorias.NombreCategoria)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FechaIngreso)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaIngreso)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Responsable)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Responsable)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Codigo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Codigo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Descripcion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Descripcion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Unidad)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Unidad)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cantidad)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cantidad)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Costo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Costo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CveProvedor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CveProvedor)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PrecioMenor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PrecioMenor)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PrecioMayor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PrecioMayor)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Identificador)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Identificador)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
