@model Mvc4AppFuncional.Models.Cotizaciones

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Cotizacions</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Clientes.NombreCliente)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Clientes.NombreCliente)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FechaCotizacion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaCotizacion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Gironegocio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Gironegocio)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Monto)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Monto)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
